* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  width: 848px;
  height: 480px;
  background-color: whitesmoke;
  padding: 20px;
  border: 10px solid goldenrod;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

.drum-pad-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px;
}
